
@charset "utf-8";

:root{
	--colorBorder: rgb(0, 125, 180);
	--colorBgFull: rgba(0, 125, 180, 1);
}

*{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

#cuerpo{
	width                : 100vw;
	height               : 100vh;
	display              : grid;
	grid-template        : "header header header"
							"noticias main guias"
							"pie pie pie";
	grid-template-columns: 2fr 6fr 1.5fr;
	grid-template-rows   : 0.7fr 8fr 0.5fr;
	background-color     : rgb(225, 228, 231);
	color                : rgb(32, 39, 44);
}

/* -------------------------------------------------------------------------- */
/*                                  CABECERA                                  */
/* -------------------------------------------------------------------------- */

#cabecera{
	grid-area      : header;
	display        : flex;
	justify-content: space-between;
	align-items    : center;
	border-bottom  : 2px dashed var(--colorBorder);
}

#cabecera h1{
	margin-left: 2em;
	font-weight: 900;
}

#cabecera nav ul{
	display   : flex;
	list-style: none;
}

#cabecera nav ul li{
	width : 120px;
	margin: 5px;
}

#cabecera nav ul li a{
	display        : block;
	text-align     : center;
	text-decoration: none;
	color          : rgb(25, 27, 30);
	padding        : 6px;
	background   : linear-gradient(90deg, 
						rgba(140, 32, 202, 0.0) 0%,	
						rgba(0, 125, 180, 1) 33%,
						rgba(0, 125, 180, 1) 66%,
						rgba(140, 32, 202, 0.0) 100%);
	background-position: center bottom;
	background-size    : 0% 3px;
	background-repeat  : no-repeat;	
	transition     : all 0.2s ease-in-out;
}

#cabecera nav ul li a:hover{
	background-size: 100% 3px;
}
