
@charset "utf-8";

:root{
	--colorBorder: rgb(0, 125, 180);
	--colorBgFull: rgba(0, 125, 180, 1);
}

*{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

#cuerpo{
	width                : 100vw;
	height               : 100vh;
	display              : grid;
	grid-template        : "header header header"
							"noticias main guias"
							"pie pie pie";
	grid-template-columns: 2fr 6fr 1.5fr;
	grid-template-rows   : 0.7fr 8fr 0.5fr;
	background-color     : rgb(225, 228, 231);
	color                : rgb(65, 75, 85);
}